language: node_js
sudo: false
env:
  CXX=g++-4.8
node_js:
  - "0.10"
  - "0.11"
  - "0.12"
  - "iojs-1"
  - "iojs-2"
  - "4"
script:
  - grunt travis
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
